.footer {
    padding: 64px 0;
    background: #6278F7 url(/public/images/fundo.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .socialMedia {
    display: flex;
    align-items: center;
    gap: 38px;
}

.footer .socialMedia img {
    width: 35px;
}

.footer .credits {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer .credits p {
    color: #FFF;
    font: normal 500 20px "Montserrat";
}