.collaboratorCard {
    position: relative;
    width: 280px;
}

.collaboratorCard .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.collaboratorCard img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.collaboratorCard .footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.collaboratorCard .footer h4 {
    color: #6278F7;
    margin-bottom: 8px;
    font: normal 600 18px "Montserrat";
    line-height: 22px;
}

.collaboratorCard .footer h5 {
    color: #212121;
    padding: 0 16px;
    font: normal 400 16px "Montserrat";
    line-height: 20px;
}

.collaboratorCard .delete {
    position: absolute;
    right: -10px;
    top: -10px;
}