.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer .button {
    background-color: #6278F7;
    color: #FFF;
    border-radius: 10px;
    border: none;
    font: normal 700 20px "Montserrat";
    padding: 32px;
    margin: 16px 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.buttonContainer .button:hover {
    transform: scale(1.025);
    color: #95FFD4;
}