.dropDown label {
    display: block;
    margin-bottom: 8px;
    font: normal 600 18px "Montserrat";
    line-height: 22px;
}

.dropDown select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    padding: 24px;
    cursor: pointer;
}